@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.data</p>
    <img src="@ViewBag.ImageData">
    <h2>@ViewBag.Name</h2>
</div>
